<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Guess it</h1>
        <p>Try to guess the correct number between 0 and 100.</p>        
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" *ngIf="attempt > 0" (click)="retry()">Retry</a>
        </p>
    </div>
    <div class="form-inline">
    <div *ngIf="attempt > 0">Guess {{attempt}}</div>
    <input class="form-control" min="1" max="99" type="number" #ctrl="ngModel" [(ngModel)]="trialNumber">
    <button [ngClass]="{'disabled':!trialNumber || !ctrl.valid || trialNumber <= 0 || trialNumber >= 100}" class="btn btn-primary" type="submit" (click)="try()">Submit</button>

    <div class="alert alert-success" role="alert" *ngIf="correctMessage">
        {{correctMessage}} 
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="message">
        {{message}} 
    </div>
    <h3 *ngIf="attemp > 0">Guess History</h3>
    <ul class="list-group">
        <li *ngFor="let item of messageList, let i = index" class="list-group-item">{{i+1}}. {{item}}</li>
    </ul>


</div>
</div>